<html>
<head>
<title>Private Blockchain Explorer | Udacity ND</title>
<style>

body {
	background-image: linear-gradient(to bottom right, #1C0F0F, #3D3232);
	color: #fcfcfc;
}
.navigation a {
	margin-right: 30px;
	font-weight: 600;
}

a {
	color: #CA4BD8;
	text-decoration: none;
}
</style>
</head>
<body>
	<div class="container" style="padding: 30px 100px; font-family: Calibri;">
		<div class="navigation"><a href="/">HOME</a><a href="/block/add/">ADD BLOCK</a><a href="/block/">GET BLOCK</a></div>
		<h1 style="margin-top: 100px; font-size: 3.1rem; font-weight: 400;">Private Blockchain Explorer | Udacity ND</h1>
		<p style="font-size: 1.4rem;">Here you'll be able to explore the private blockchain we built in the Udacity degree.</p><br><br>
		<h4><u>Usability</u></h4>
		<ul>
			<li><u>Get block data</u>  ===>  Navigate to <a href="/block/0">/block/[height]</a> and replace height with a block height to obtain the block object.</li>
			<li><u>Add a new block</u>  ===>  Navigate to <a href="/block/add/">/block/add/</a> and fill in data to be put into the chain.</li>
		</ul>
	</div>
</body>
</html>
